<link rel="import" href="../polymer/polymer-element.html" />
<link rel="import" href="../iron-ajax/iron-ajax.html" />
<link rel="import" href="../vaadin-grid/vaadin-grid.html" />
<link rel="import" href="../vaadin-grid/vaadin-grid-selection-column.html" />
<link rel="import" href="../vaadin-grid/vaadin-grid-column.html" />
<link rel="import" href="../vaadin-grid/vaadin-grid-filter.html" />
<link rel="import" href="../vaadin-grid/vaadin-grid-sorter.html" />
<link rel="import" href="../paper-icon-button/paper-icon-button.html" />
<link rel="import" href="../paper-input/paper-input.html" />
<link rel="import" href="../paper-spinner/paper-spinner-lite.html" />
<link rel="import" href="../paper-checkbox/paper-checkbox.html" />

<dom-module id="ug-grid-plenaria">
  <template>
    <style>
      :host {
        display: block;
      }

      h4 {
        line-height: 0px;
      }

      .monto-default {
        text-decoration: line-through;
        font-size: smaller;
        color: #c5bf60;
      }

      .pi {
        --paper-input-container-underline: {
          display: none;
        }

        --paper-input-container-label: {
          display: none;
        }

        --paper-input-container-label-focus: {
          display: none;
        }

        --paper-input-container-label-floating: {
          display: none;
        }
      }

      vaadin-grid {
        height: 700px;
      }

      vaadin-text-field {
        width: 100%;
      }
    </style>

    <iron-ajax handle-as="json" id="iaPropuestas" last-response="{{propuestas}}" loading="{{loading}}"></iron-ajax>

    <iron-ajax id="iaUpdatePropuesta" content-type="application/json" method="POST" url="[[urlUpdatePropuesta]]">
    </iron-ajax>

    <iron-ajax id="iaUpdateAllPropuestas" content-type="application/json" method="POST"
      url="https://intraug.ugto.mx/Convocatoria/Plenaria/updateAllPropuestas"></iron-ajax>

    <center>
      <paper-spinner-lite active$="[[loading]]" alt="Cargando Propuestas"></paper-spinner-lite>
    </center>
    <h4>Propuestas desplegadas: [[propuestas.length]]</h4>
    <br />

    <vaadin-grid items="[[propuestas]]" id="grid" column-reordering-allowed multi-sort>
      <vaadin-grid-column width="1px" resizable>
        <template class="header">
          <vaadin-grid-sorter path="isAprobado"></vaadin-grid-sorter>
        </template>
        <template>
          <paper-checkbox checked="[[item.isAprobado]]" on-change="_selectItem" disabled="[[checkEnable]]">
          </paper-checkbox>
          <template is="dom-if" if="[[item.isAprobado]]">
            [[_addSelectItem(item)]]
          </template>
        </template>
      </vaadin-grid-column>

      <vaadin-grid-column width="1rem" resizable>
        <template class="header">
          <vaadin-grid-sorter path="id">ID</vaadin-grid-sorter>
        </template>
        <template>[[item.id]]</template>
      </vaadin-grid-column>

      <vaadin-grid-column width="12rem" resizable>
        <template class="header">
          <vaadin-grid-sorter path="nombrePropuesta">Nombre de la Propuesta</vaadin-grid-sorter>
          <vaadin-grid-filter aria-label="Nombre de la Propuesta" path="nombrePropuesta"
            value="[[_filterNombrePropuesta]]">
            <vaadin-text-field slot="filter" placeholder="Nombre de la Propuesta" value="{{ _filterNombrePropuesta }}"
              focus-target></vaadin-text-field>
          </vaadin-grid-filter>
        </template>
        <template>[[item.nombrePropuesta]]</template>
      </vaadin-grid-column>

      <vaadin-grid-column width="12rem" resizable>
        <template class="header">
          <vaadin-grid-sorter path="areaConocimiento">Área del Conocimiento</vaadin-grid-sorter>
          <vaadin-grid-filter aria-label="Área del Conocimiento" path="areaConocimiento"
            value="[[_filterAreaConocimiento]]">
            <vaadin-text-field slot="filter" placeholder="Área del Conocimiento" value="{{ _filterAreaConocimiento }}"
              focus-target></vaadin-text-field>
          </vaadin-grid-filter>
        </template>
        <template>[[item.areaConocimiento]]</template>
      </vaadin-grid-column>

      <vaadin-grid-column width="8rem" resizable>
        <template class="header">
          Calificación / Ajuste Fin
        </template>
        <template>
          <template is="dom-repeat" items="[[item.evaluaciones]]" as="evaluacion">
            <div>[[evaluacion.calificacion]] / [[evaluacion.ajusteFin]]</div>
          </template>
        </template>
      </vaadin-grid-column>

      <vaadin-grid-column width="8rem" resizable>
        <template class="header">
          <vaadin-grid-sorter path="montoSolicitado">Monto Solicitado</vaadin-grid-sorter>
        </template>
        <template>$ [[item.montoSolicitado]]</template>
      </vaadin-grid-column>

      <vaadin-grid-column width="8rem" resizable>
        <template class="header">
          <vaadin-grid-sorter path="montoAprobado">Monto Aprobado</vaadin-grid-sorter>
        </template>
        <template>
          <template is="dom-if" if="[[checkEnable]]">
            <paper-input class="pi" no-label-float disabled on-change="_changeMontoAprobado" type="number"
              value="{{ item.montoAprobado }}">
              <div slot="prefix">$</div>
            </paper-input>
          </template>
          <template is="dom-if" if="[[!checkEnable]]">
            <paper-input class="pi" disabled="[[!item.isAprobado]]" no-label-float on-change="_changeMontoAprobado"
              type="number" value="{{ item.montoAprobado }}">
              <div slot="prefix">$</div>
            </paper-input>
          </template>
        </template>
      </vaadin-grid-column>

      <vaadin-grid-column width="3rem" resizable>
        <template class="header">
          <vaadin-grid-sorter path="promedio">Promedio</vaadin-grid-sorter>
        </template>
        <template>[[item.promedio]]</template>
      </vaadin-grid-column>

      <vaadin-grid-column width="2rem">
        <template class="header">Evaluación</template>
        <template>
          <a href="[[urlDetallesEvaluacion]]/?id=[[item.id]]&ban=true" target="_blank">Ver...</a>
        </template>
      </vaadin-grid-column>
    </vaadin-grid>
  </template>

  <script>
    /**
     * `ug-grid-plenaria`
     * Componente que es usado en la convocatoria para la sesión plenaria donde se definen las
     * propuestas aceptadas  pudiendo hacer ajustes en ols montos
     *
     */
    class UgGridPlenaria extends Polymer.Element {
      static get is() {
        return 'ug-grid-plenaria';
      }
      static get properties() {
        return {
          checkEnable: { type: Boolean, value: false },
          idConvocatoria: Number,
          idModalidad: { type: Number },
          loading: Boolean,
          promedioAprobatorio: {
            type: Number,
            value: 0,
            notify: true,
            observer: '_obsPromedioAprobatorio',
          },
          propuestas: { type: Array, observer: '_obsPropuestas' },
          sumAprobado: { type: Number, notify: true },
          _filterNombrePropuesta: String, //Filtro de la columna 'Nombre de la propuesta'
          _filterAreaConocimiento: String, //Filtro de la columna 'Area del conocimiento'
          urlUpdatePropuesta: { type: String, readOnly: true },
          urlUpdateAllPropuestas: { type: String, readOnly: true },
          urlDetallesEvaluacion: { type: String, readOnly: true },
          urlFindPropuestasByIdConvocatoria: { type: String, readOnly: true },
          urlFindPropuestasByIdModalidad: { type: String, readOnly: true },
          desarrollo: { type: Boolean, value: false },
          produccion: { type: Boolean, value: false },
        };
      }

      static get observers() {
        return ['_obsModalidad(idModalidad, urlFindPropuestasByIdConvocatoria, urlFindPropuestasByIdModalidad)'];
      }

      ready() {
        super.ready();
        this._setUrlUpdatePropuesta('http://localhost:65463/Plenaria/updatePropuesta');
        this._setUrlUpdateAllPropuestas('http://localhost:65463/Plenaria/updateAllPropuestas');
        this._setUrlDetallesEvaluacion('http://localhost:65463/BandejaInvestigador/DetallesEvaluacion');
        this._setUrlFindPropuestasByIdConvocatoria('http://localhost:65463/Plenaria/findPropuestasByIdConvocatoria');
        this._setUrlFindPropuestasByIdModalidad('http://localhost:65463/Plenaria/findPropuestasByIdModalidad');
        if (this.desarrollo) {
          this._setUrlUpdatePropuesta('https://www.colmena.ugto.mx/Convocatoria/Plenaria/updatePropuesta');
          this._setUrlUpdateAllPropuestas('https://www.colmena.ugto.mx/Convocatoria/Plenaria/updateAllPropuestas');
          this._setUrlDetallesEvaluacion('https://www.colmena.ugto.mx/Convocatoria/BandejaInvestigador/DetallesEvaluacion');
          this._setUrlFindPropuestasByIdConvocatoria('https://www.colmena.ugto.mx/Convocatoria/Plenaria/findPropuestasByIdConvocatoria');
          this._setUrlFindPropuestasByIdModalidad('https://www.colmena.ugto.mx/Convocatoria/Plenaria/findPropuestasByIdModalidad');
        }
        if (this.produccion) {
          this._setUrlUpdatePropuesta('https://intraug.ugto.mx/Convocatoria/Plenaria/updatePropuesta');
          this._setUrlUpdateAllPropuestas('https://intraug.ugto.mx/Convocatoria/Plenaria/updateAllPropuestas');
          this._setUrlDetallesEvaluacion('https://intraug.ugto.mx/Convocatoria/BandejaInvestigador/DetallesEvaluacion');
          this._setUrlFindPropuestasByIdConvocatoria('https://intraug.ugto.mx/Convocatoria/Plenaria/findPropuestasByIdConvocatoria');
          this._setUrlFindPropuestasByIdModalidad('https://intraug.ugto.mx/Convocatoria/Plenaria/findPropuestasByIdModalidad');
        }
      }

      _obsPropuestas() {
        this._sumMontoAprobado(false);
      }

      _addSelectItem(e) {
        this.$.grid.selectItem(e);
      }

      _avg(evaluaciones) {
        if (evaluaciones.length === 0) {
          return Number(0.0);
        } else {
          var avg = 0;
          for (let i = 0; i < evaluaciones.length; i++) {
            avg += Number(evaluaciones[i].calificacion);
          }
          let avg1 = (avg / evaluaciones.length).toFixed(2);
          return Number(avg1);
        }
      }

      _changeMontoAprobado(e) {
        var propuesta = e.model.item;
        this._sumMontoAprobado(false);
        if (propuesta != null && propuesta != undefined) {
          this.$.iaUpdatePropuesta.params = { propuesta: JSON.stringify(propuesta) };
          this.$.iaUpdatePropuesta.generateRequest();
        }
      }

      _obsModalidad(idModalidad, urlFindPropuestasByIdConvocatoria, urlFindPropuestasByIdModalidad) {
        if (idModalidad == 0) {
          this.checkEnable = true;
          this.$.iaPropuestas.url = `${urlFindPropuestasByIdConvocatoria}/${this.idConvocatoria}`;
          this.$.iaPropuestas.generateRequest();
        } else {
          this.checkEnable = false;
          this.$.iaPropuestas.url = `${urlFindPropuestasByIdModalidad}/${this.idModalidad}`;
          this.$.iaPropuestas.generateRequest();
        }
      }

      _obsPromedioAprobatorio(promedio) {
        this._sumMontoAprobado(true);
      }

      _selectItem(e) {
        var propuesta = e.model.item;
        var p = this.propuestas;
        if (e.target.checked) {
          for (var i = 0; i < p.length; i++) {
            if (p[i].id === propuesta.id) {
              p[i].isAprobado = true;
            }
          }
          this.$.grid.selectItem(e.model.item);
        } else {
          for (var i = 0; i < p.length; i++) {
            if (p[i].id === propuesta.id) {
              p[i].isAprobado = false;
            }
          }
          this.$.grid.deselectItem(e.model.item);
        }
        this.propuestas = null;
        this.propuestas = p;
        this._sumMontoAprobado(false);
        if (propuesta != null && propuesta != undefined) {
          this.$.iaUpdatePropuesta.params = { propuesta: JSON.stringify(propuesta) };
          this.$.iaUpdatePropuesta.generateRequest();
        }
      }

      _sumMontoAprobado(validPromedio) {
        if (this.idModalidad > 0) {
          var sum = 0;
          var propuestas = this.propuestas;
          var promedio = this.promedioAprobatorio;
          if (propuestas != undefined && propuestas != null) {
            for (let i = 0; i < propuestas.length; i++) {
              if (validPromedio) {
                if (this._avg(propuestas[i].evaluaciones) >= promedio) {
                  this.$.grid.selectItem(propuestas[i]);
                  this.propuestas[i].isAprobado = true;
                  sum += Number(propuestas[i].montoAprobado);
                } else {
                  this.$.grid.deselectItem(propuestas[i]);
                  propuestas[i].isAprobado = false;
                }
              } else {
                if (propuestas[i].isAprobado) {
                  sum += Number(propuestas[i].montoAprobado);
                }
              }
            }
            this.$.grid.clearCache();
            this.sumAprobado = sum;
            if (validPromedio) {
              this.$.iaUpdateAllPropuestas.body = {
                propuestas: JSON.stringify(propuestas),
                promedio: promedio,
                id: this.idModalidad,
              };
              this.$.iaUpdateAllPropuestas.generateRequest();
            }
          }
        }
      }
    }

    window.customElements.define(UgGridPlenaria.is, UgGridPlenaria);
  </script>
</dom-module>